#body{
    overflow: hidden;
}
*{
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}
@font-face{
    font-family: 'Caviar Dreams';
    src: url(fonts/CaviarDreams.ttf);
    font-family: 'Playfair Display';
    src: url(fonts/PlayfairDisplay.otf);
}
body{
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-position: center;
    /* background: red; */
    background-repeat: no-repeat;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

h1{
    font-family: 'Playfair Display';
    color: white;
    font-weight: 80px;
    font-size: 42px;
    font-weight: lighter;
}
h2{
    font-family: 'Playfair Display';
    color: black;
    font-weight: 500;
    font-size: 42px;
    font-weight: lighter;
}

h3,h4,h5,h6{
    font-family: 'Playfair Display';
    font-weight: lighter;
}
/* ==============INICIO==================== */
.principal{
    width:100%;
    max-width: 320px;
    display: block;
    text-align: center;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: intro 2s;
}
.logo-principal{
    margin: auto;
    width: 100%;
    margin-bottom: 10px;
}

.logo-principal img{
    width: 60%;
}
.title-principal{
    font-family: 'Playfair Display';
    color: white;
    font-weight: 100;
    font-size: 42px;
    text-align: center;
    display: block;
    margin: 20px 0;
}

.btn{
    width: 50%;
    border: gray 2px solid;
    background: rgba(0, 0, 0, .7);
    color:white;
    font-family: 'Caviar Dreams';
    margin-top:20px;
    font-size: 12px;
    padding: 5px;
    cursor: pointer;
    transition: .2s
}

.btn:hover{
    background: rgba(255, 255, 255, .7);
    color:black;
    font-weight: bold;
}

.btn:active{
    transform: scale(.9);
}

@keyframes intro{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fadeOut{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes fadeIn{
    from{
        visibility: visible;
        opacity: 0;
    }
    to{
        opacity: 1;
        visibility: visible;
    }
}

@keyframes menu{
    from{
        transform: translateX(3000px)
    }
    to{
        transform: translateX(0)
    }
}

@keyframes menuOut{
    from{
        transform: translateX(0)
    }
    to{
        transform: translateX(3000px)
    }
}
/* ==============MENU==================== */

.nav{
    width:100%;
    max-width: 1080px;
    text-align: center;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: intro 2s;
    visibility: hidden;
    display: none;
}

.nav .logo-principal{
    width: 300px;
}

.menu{
    width: 100%;
    display:flex;
    /* border:solid red 2px; */
    justify-content: space-around;
    margin: 10% 0;
    flex-wrap: wrap;
}
.menu div{
    width: 80px;
    transition: .2s;
    text-align: center; 
}
.menu div img{
    width: 100%;
    cursor: pointer;
}

.menu div:hover, .close:hover{
    transform: scale(1.1)
}
.menu div:active, .close:active{
    transform: scale(.9)
}

.menu-item-text{
    font-family: 'Caviar Dreams';
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.close{
    position: absolute;
    top: 50px;
    left: 50px;
    cursor: pointer;
}

/* ==============REGIONES==================== */
.region{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}

.slide{
   display: grid;
   grid-template-columns: repeat(7,50%);
   /* overflow: hidden; */
}

.region-img{
   height: 100vh;
   overflow: hidden;
   display: flex;
   justify-content: center;
}
.region-img img{
    height: 100vh;
}

.flecha-derecha{
    position: absolute;
    right: 20px;
    z-index: 2;
    cursor: pointer;
    transition: .8s
}
.flecha-izquierda{
    position: absolute;
    left:20px;
    z-index: 2;
    cursor: pointer;
    transition: .8s;    
    /* transform: scale(1.1) */
}
.flecha-derecha:hover,.flecha-izquierda:hover{
    transform: scale(1.1)
}

.flecha-derecha:active,.flecha-izquierda:active{
    transform: scale(.9)
}

.name-animal{
    width: 320px;
    background-color: white;
    position: absolute;
    text-align: left;
    cursor: pointer;
    font-size: 25px;
    padding: 10px 0 20px 20px;
    display: flex;
    flex-direction: column;
    vertical-align: center;
}

/* ==============SLIDE==================== */


.modal{
    width: 100%;
    height: 100vh;
    /* margin-top: 4vh; */
    background: white;
    position: absolute;
    z-index: 5;
    margin: auto;
    display: none;
    overflow: hidden;
    /* display: flex; */
}

.close-o,.close-p,.close-c,.close-an,.close-am{
    position: absolute;
    z-index: 6;
    top: 20px;
    left: 20px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: none;
}

.subir{
    width: 50px;
    height: 50px;
    position: fixed;
    display: flex;
    align-items: center;
    background: white;
    z-index: 10;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    text-align: center;
    display: none;
}

.subir img{
    width: 50%;
}

#main{
    display: none;
    position: fixed;
    width: 50px;
    height: 50px;
    top: 20px;
    right: 20px;
    z-index: 4;
}

.menu-2{
    width: 480px;
    height: 80px;
    position: fixed;
    justify-content: space-around;
    z-index: 4;
    top: 10px;
    right: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
    transform: translateX(3000px)
}
 
.menu-2-item{
    width: 80px;
    height: 80px;
}

.menu-2-item img{
    width: 100%;
}

/* =================================================== */
/* =================================================== */
/* =================================================== */
/* =================================================== */
/* =================================================== */

.foto-animal{
    width: 49%;
    overflow: hidden;
    height: 100vh;
    display: inline-block;
    position: relative;
}

.picture-animal{
    display: flex;
    height: 100vh;
}

.head-foto-animal{
    position:absolute;
    width: 80%;
    top: 10px;
    right: 0;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

.head-foto-animal img:nth-child(1){
    height: 50px;
}

.head-foto-animal img:nth-child(2){
    height: 90px;
}

.footer-foto-animal{
    position: absolute;
    width: 95%;
    margin: auto;
    display: flex;
    bottom: 10px;
    justify-content: space-around;
}

.footer-foto-animal img{
    height: 100px;
}

.info-animal{
    width: 50%;
    height: 100vh;
    display: inline-block;
    overflow: auto;
    padding: 20px 10%;
    box-sizing: border-box;
}

.head-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-info h3{
    font-size: 25px;
}

.head-info h4{
    font-size: 25px;
}

.estado{
    height: 50px;
}

.estado img{
    height: 80px;
}


.title-caribe{
    color: rgb(236, 196, 72)
}

.title-pacifico{
    color: rgb(205, 106, 73)
}

.title-andina{
    color: rgb(166, 9, 65)
}

.title-orinoquia{
    color: rgb(167, 78, 147)
}

.title-amazonica{
    color: rgb(108, 171, 168)
}

.info{
    margin: 80px 0;
    text-align: justify;
}

.info-animal h5{
    font-size: 18px;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
}